.priority-icon {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  &__svg {
    display: block;
    flex-shrink: 0;

    &--urgent {
      fill: #ff3d00;
    }

    &--medium {
      fill: #ffa800;
    }

    &--low {
      fill: #7ae229;
    }
  }

  &__label {
    font-size: 14px;
    font-weight: 400;
  }
}
